@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Mont Extralight";
    font-weight: 300;
    src: local("Mont Extralight"), url(./fonts/Fontfabric\ -\ Mont\ ExtraLight\ DEMO.otf);
  }
  @font-face {
    font-family: "Mont Heavy";
    font-weight: 800;
    src: local("Mont Heavy"), url(./fonts/Fontfabric\ -\ Mont\ Heavy\ DEMO.otf);
  }
}